{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <form action="{% url "edit_submit" %}" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Title</label>
            <textarea name="title" class="form-control" id="exampleFormControlTextarea1" rows="1" >{{title}}</textarea>
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Edit Entry</label>
          <textarea name="entry" class="form-control" id="exampleFormControlTextarea1" rows="20" >{{ entry | safe }}</textarea>
        </div>
        <button type="submit">save</button>
      </form>
{% endblock %}