{% extends "run/base.html" %}
{% load static %}
{% block java%}

<script src="{% static 'run/dashbord.js' %}"></script>
{% endblock %}
{% block body %}

</div>
<div class="container-fluid">
     <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
               <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                         <li class="nav-item">
                              <a class="nav-link active" href="" onclick="return false;" id="dashbordbtn">
                                   <span data-feather="home"></span>
                                   Dashboard <span class="sr-only">(current)</span>
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="" onclick="return false;" id="new_run">
                                   <span data-feather="file"></span>
                                   New Run
                              </a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="" onclick="return false;" id="friendsbtn">
                                   <span data-feather="shopping-cart"></span>
                                   Friends
                              </a>
                         </li>
                    </ul>

               </div>
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mainContent" id="dashbord">
               <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-group" role="group" aria-label="Basic example">
                         <button type="button" class="btn btn-secondary selected" id="Averagebtn">Average Speed</button>
                         <button type="button" class="btn btn-secondary" id="distancebtn">Distance</button>
                       </div>
                    <div class="form-group" id="avrageSelector" style="display: none;">
                         <label for="exampleFormControlSelect1">Show Distance</label>
                         <select class="form-control" id="showDistance">
                           <option>All</option>
                           <option>100</option>
                           <option>200</option>
                           <option>500</option>
                           <option>1000</option>
                           <option>5000</option>
                         </select>
                       </div>
                       <div class="form-group" id="DateSelector" style="">
                         <label for="exampleFormControlSelect1">Select Date</label>
                         <input type="date" id="date_input" name="select-data"
       value="Select"
       min="2018-01-01" max="2020-12-31">
                       </div>
                   
               </div>

               <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

               <h2>My Runs</h2>
               <script type="text/javascript">
               </script>
               <div class="table-responsive">
                    <table class="table table-striped table-sm">
                         <thead>
                              <tr>
                                   <th>#</th>
                                   <th>Distance</th>
                                   <th>Start Time</th>
                                   <th>End Time</th>
                                   <th>Avrage Speed m/s</th>
                                   <th>User</th>
                                   <th>Show</th>
                              </tr>
                         </thead>
                         <tbody>
                              {% for key, value in Runs.items %}
                              <tr>
                                   <td>{{value.id}}</td>
                                   <td>{{value.distance}}</td>
                                   <td>{{value.start_time}}</td>
                                   <td>{{value.end_time}}</td>
                                   <td>{{value.everageSpeed}}</td>
                                   <td>{{value.user}}</td>
                                   <td><button type="button" class="btn btn-primary mapsbtn" data-toggle="modal" data-target="#mapModal" data-runID='{{value.id}}'>
                                        Show
                                      </button></td>
                              </tr>

                              {% endfor %}

                         </tbody>
                    </table>
               </div>
               <div id="map"></div>
          </main>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mainContent" style="display: none;" id="run">
     <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <span hidden id='token'>{% csrf_token %}</span>
          <div class="container">
               <form>
                    <div class="form-group">
                         <label for="exampleFormControlSelect1">Example select</label>
                         <select class="form-control" id="distanceSelect">
                              <option value=100>100 meter</option>
                              <option value=200>200 meter</option>
                              <option value=500>500 meter</option>
                              <option value=1000>1 kilometer</option>
                              <option value=5000>5 kilometer</option>
                         </select>
               </form>
               <label for="controls">controls</label>
               <div id="controls">
                    <button id="start" type="button" class="btn btn-primary btn-lg">Start run</button>
                    <button id="stop" type="button" class="btn btn-danger btn-lg">stop run</button>
               </div>
               <h1 id="timer"></h1>
               <p id="location"></p>
          
          </div>
</main>


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mainContent" style="display: none;" id="friendsBlock">
     <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <div class='container'>
               <div class="row">
                    Frend request you sent:
                    <table class="table table-striped table-sm">
                         <thead>
                              <tr>
                                   <th>#</th>
                                   <th>Friend</th>
                                   <th>Status</th>
                                   <th>change</th>

                              </tr>
                         </thead>
                         <tbody>
                              {% for key, value in friends.items %}
                              <tr>
                                   {% if value.status == "approved" %}
                                   <td>{{key}}</td>
                                   <td><a href="" onclick="return false " class="friendbtn" data-username={{value.friend}}>{{value.friend}}</a></td>
                                   <td>{{value.status}}</td>
                                   <td><button type="button" class="btn btn-primary changeStatus" data-toggle="modal" data-target="#exampleModal" data-whatever="{{value.friend}}">
                                        change Status
                                      </button></td>
                                   {% endif %}
                                   {% if value.status == "pending" %}
                                   <td>{{key}}</td>
                                   <td>{{value.friend}}</td>
                                   <td>{{value.status}}</td>
                                   <td><button type="button" class="btn btn-primary changeStatus" data-toggle="modal" data-target="#exampleModal" data-whatever="{{value.friend}}">
                                        change Status
                                      </button></td>
                                   {% endif %}
                                   {% if value.status == "decline" %}
                                   <td>{{key}}</td>
                                   <td>{{value.friend}}</td>
                                   <td>{{value.status}}</td>
                                   <td><button type="button" class="btn btn-primary changeStatus" data-toggle="modal" data-target="#exampleModal" data-whatever="{{value.friend}}">
                                        change Status
                                      </button></td>
                                   {% endif %}
                              </tr>

                              {% endfor %}

                         </tbody>
                    </table>
                    </div>
                    <div class="row">

                         Frend request Sent to you:
                         <table class="table table-striped table-sm">
                              <thead>
                                   <tr>
                                        <th>#</th>
                                        <th>Friend</th>
                                        <th>Status</th>
                                        <th>change</th>
     
                                   </tr>
                              </thead>
                              <tbody>
                                   {% for key, value in friendReuest.items %}
                                   <tr>
                                        {% if value.status == "approved" %}
                                        <td>{{key}}</td>
                                        <td><a href="" onclick="return false " class="friendbtn" data-username={{value.friend}}>{{value.friend}}</a></td>
                                        <td>{{value.status}}</td>
                                        <td><button type="button" class="btn btn-primary changeStatus1" data-toggle="modal" data-target="#exampleModal1" data-whatever="{{value.friend}}">
                                             change Status
                                           </button></td>
                                        {% endif %}
                                        {% if value.status == "pending" %}
                                        <td>{{key}}</td>
                                        <td>{{value.friend}}</td>
                                        <td>{{value.status}}</td>
                                        <td><button type="button" class="btn btn-primary changeStatus1" data-toggle="modal" data-target="#exampleModal1" data-whatever="{{value.friend}}">
                                             change Status
                                           </button></td>
                                        {% endif %}
                                        {% if value.status == "decline" %}
                                        <td>{{key}}</td>
                                        <td>{{value.friend}}</td>
                                        <td>{{value.status}}</td>
                                        <td><button type="button" class="btn btn-primary changeStatus1" data-toggle="modal" data-target="#exampleModal1" data-whatever="{{value.friend}}">
                                             change Status
                                           </button></td>
                                        {% endif %}
                                   </tr>
     
                                   {% endfor %}
     
                              </tbody>
                         </table>



                    </div>
                    <div class="row">


                    <canvas class="my-4 w-100" id="myChart1" width="900" height="380" style="display: none;"></canvas>
                    send a friend request<br>
                    <form action="{% url 'send_request'%}" method="post" id="sendFriendRequest">
                         {% csrf_token %}<br>
                         <div class="form-group">
                              <label for="exampleFormControlInput1">Friends email address</label>
                              <input type="text" name="email" class="form-control" id="email">
                         </div>
                         <div class="form-group">
                              <label for="exampleFormControlInput1">pesonal note</label>
                              <input type="text" name="note" class="form-control" id="note">
                         </div>
                         <button type="btn" class="form-control" id="FriendFormSubmit">Submit</button>
                    </form>
               </div>
          </div>
          </div>
</main>

</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
     integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>



<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
{% autoescape off %}
<script type="text/javascript">
     var myRuns = {{ Runs }};
     console.log(myRuns[0])
     var dates = []
     var rundistance = []
     for (i in Object.keys(myRuns)) {
          console.log(myRuns[i])
          dates.push(myRuns[i].start_time.slice(0, 10));
          rundistance.push(myRuns[i].distance)
     };
     var ctx = document.getElementById("myChart");
     var myChart = new Chart(ctx, {
          type: 'line',
          data: {
               labels: dates,
               datasets: [{
                    data: rundistance,
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
               }]
          },
          options: {
               scales: {
                    yAxes: [{
                         ticks: {
                              beginAtZero: false
                         }
                    }]
               },
               legend: {
                    display: false,
               }
          }
     });
</script>
{% endautoescape %}



{% if DJdata %}
    <script type="text/javascript">
        (function () {window.Runs = {{Runs|safe}};})();
    </script>
{% endif %}


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Change Status</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
          <form action="{% url 'changeStatus'%}" method="post">
               {% csrf_token %}
               <div class="form-group">
                    <label for="exampleFormControlSelect1" id="statusChangeName">Chanege Status to</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="status" value="3487">
                      <option value="Dicline">Dicline</option>
                      <option value="Pending">Pending</option>
                    </select>
                  </div>
                  <input type="hidden" id="UserNameToChange" name="UserNameToChange" value="3487">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Change</button>
             </form>
         </div>
         <div class="modal-footer">
         
         </div>
       </div>
     </div>
   </div>



   <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Chanege Status</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
          <form action="{% url 'changeStatusFriend'%}" method="post">
               {% csrf_token %}
               <div class="form-group">
                    <label for="exampleFormControlSelect1" id="statusChangeName1">Chanege Status to</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="status" value="3487">
                      <option value="Dicline">Dicline</option>
                      <option value="Approve">Approve</option>
                    </select>
                  </div>
                  <input type="hidden" id="UserNameToChange1" name="UserNameToChange1" value="3487">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Change</button>
             </form>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary">Save changes</button>
         </div>
       </div>
     </div>
   </div>

 
{% endblock %}