{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<form action="{% url "check_entry" %}" method="POST">
    {%csrf_token%}
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Entry Title">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Entry</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="entry" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}