{% extends "template.html" %}

{% block body %}
<div class="row padding">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto  ">
  <h1 class="display-4">{{ book_info.title }}</h1>
  <p class="lead">by <b>{{book_info.author}}</b> poblish in {{ book_info.year }}</p>
  <ul>
    <li>Average rating from Goodreads.com : {{res['books'][0]['average_rating']}}</li>
    <li>Number of reviews on Goodreads.com : {{res['books'][0]['work_text_reviews_count']}}</li>
    <li>Number of ratings on Goodreads.com : {{res['books'][0]['work_ratings_count']}}</li>
    <li>book isbn: {{res['books'][0]['isbn']}}</li>
  </ul>
      </div>

</div>

          <h4 >add your Review : </h4>

<form action="/add_review">
  <div class="rate">
    <input type="radio" id="star5" name="review_rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="review_rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="review_rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="review_rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="review_rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
<div>
  <br>

</div>
    <div class="form-group">
      <br>
    <label for="exampleFormControlTextarea1">Tell us more </label>
    <textarea name="review_text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
   <input type="hidden" id="custId" name="isbn" value="{{isbn}}">
  <button type="submit" class="btn btn-primary">Submit</button>



</form>


  <h4 >our users Review's : </h4>
 {% for i in review %}

<div class="card mb-3">
  <div class="card-header">
    review by: {{ i.user_name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">book rating :{{i.rating}}</h5>
    <p class="card-text">{{ i.review }}</p>
  </div>
</div>
      {% endfor %}
<div><br><br>
</div>
{% endblock %}